# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tests files and dir
.pytest_cache/
.coverage
.tox
.venv
reports/
**/report/
htmlcov/
.mypy_cache

# Log files
*.log

# IDEs
.idea/
.vscode/

# vi
.*.swp

# version data
repo-info

# Python builds
deb_dist/
dist/
eggs/
*.egg*

# Snaps
*.snap

# Builds
.build/
build/

tests/test_data/*
